<!doctype html>

<htmllang="ru">
    <head>
        <meta charset = 'utf-8'>
        <title>Абвгд</title>
        <script>
          
            function dataSelect(select) {
              select_team = select.team1.selectedIndex
              
              if(select_team) alert("Выбрана команда : " + select.team1.options[select_team].value +" и "+ select.team2.options[select_team].value+" и "+ select.aaa.options[select_team].value)

              // +" и "+ select.aaa.options[select_team].value)
              


            }
        </script>
    </head>
    <body>
        <form action = "handler.php">
            <h1>
                Ваше случайное число {{return_number}}            
            </h1>
            <select name="team1">
                <option>Выберите команду</option>
                {% for team_list in team_list %}
                    <option>{{team_list}}</option>
                {% endfor %} 
                []           
            </select>            
            <select name="team2">
                {% for team_list in team_list %}
                    <option>{{team_list}}</option>
                {% endfor %}            
            </select>
            
            <select name="aaa">
                <!-- как достать return_number не используя списк, причем при неиспользовании в цикле оно пропадает? -->
                {% for team_list in team_list %}
                    <option>{{return_number}}</option>
                {% endfor %}                            
            </select>            
            <p><input type="button" onclick=dataSelect(this.form) value="Показать случайное число"></p>
        </form>            
    </body>
</html>

<!-- <script>
    window.onload = init;
    
    function init(){
        var button = document.getElementById("addButton")
        button.onclick = handleButtonClick;
    }
    
    function handleButtonClick() {
        alert("Вы нажали на кнопку");
    }
</script> -->