<!doctype html>

<htmllang="ru">
    <head>
        <meta charset = 'utf-8'>
        <title>Абвгд</title>
    </head>
    <body>
        <h1>
            Ваше случайное число {{return_number}}            
        </h1>
        <p><input type="button" onclick= "alert()" value="Показать случайное число"></p>
    </body>
</html>

<script>
    window.onload = init;
    
    function init(){
        var button = document.getElementById("addButton")
        button.onclick = handleButtonClick;
    }
    
    function handleButtonClick() {
        alert("Вы нажали на кнопку");
    }
</script>