html {
	font-size: 16px;
}

h1 {
    top: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 40;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color: #ffffff;
	/* background-color: #a2d9c6; */
	min-width: 320px;
	bottom: 200px;
}

footer{
	position: absolute;
	z-index: 99999;
	bottom: 200px; 
}

.container {
    font-weight: 40;
    
}

img {
	
	max-width: 450px;
	height: auto;
}
.main_img img{
	position: absolute;
	left: 200px;
	display: flex;
	float:right;
}	